<?xml version="1.0"?>
<launch>
    <node name="tabletennis_robot_bringup" pkg="table_tennis_robot_bringup"
        type="tabletennis_robot_bringup" respawn="false" output="screen" ns="/realTTbot" />

    <node name="unified_joint_cmd" pkg="table_tennis_robot_bringup"
        type="unified_joint_cmd" respawn="false" output="screen" />

</launch>