<?xml version="1.0"?>
<launch>
  <arg name="start_tabletennis_robot" default="true" />
  <arg name="start_tabletennis_robot_hw" default="false" />

<group if="$(arg start_tabletennis_robot_hw)">
  <node name="tabletennis_robot_hw_node" pkg="table_tennis_robot_bringup"
        type="tabletennis_robot_main" respawn="false" output="log" ns="/linear_slide_rail" />
</group>

  <!-- Load the URDF into the ROS Parameter Server -->
  <param name="robot_description"
    command="$(find xacro)/xacro --inorder 
    '$(find robot_description)/urdf/linear_slide_rail.urdf.xacro'" />

  <!-- Load joint controller configurations from YAML file to parameter server -->
  <rosparam file="$(find robot_control)/config/robot_control.yaml" command="load"/>

  <!-- load the controllers -->
  <node name="controller_spawner" pkg="controller_manager" type="spawner" respawn="false"
	output="screen" ns="/linear_slide_rail" args="joint_state_controller
					  slide_rail_joint_position_controller
                                          arm_joint1_position_controller
                                          arm_joint2_position_controller
                                          arm_joint3_position_controller
                                          arm_joint4_position_controller
					  "/>
<group if="$(arg start_tabletennis_robot)">
  <!-- these are the arguments you can pass this launch file, for example paused:=true -->
  <arg name="debug" default="false"/>
  <arg name="gui" default="true"/>
  <arg name="paused" default="false"/>
  <arg name="use_sim_time" default="true"/>
  <arg name="headless" default="false"/>
    
  <!-- We resume the logic in empty_world.launch -->
  <include file="$(find gazebo_ros)/launch/empty_world.launch">
    <arg name="debug" value="$(arg debug)" />
    <arg name="gui" value="$(arg gui)" />
    <arg name="paused" value="$(arg paused)"/>
    <arg name="use_sim_time" value="$(arg use_sim_time)"/>
    <arg name="headless" value="$(arg headless)"/>
  </include>

  <!-- Run a python script to the send a service call to gazebo_ros to spawn a URDF robot -->
  <node name="urdf_spawner" pkg="gazebo_ros" type="spawn_model" respawn="false" output="screen"
    args="-urdf -model linear_slide_rail -param robot_description"/>
</group>

</launch>
