<?xml version="1.0"?>
<model>
  <name>pingpong ball</name>
  <version>1.0</version>
  <sdf version='1.5'>models/pingpong.sdf</sdf>

  <author>
    <name>DennisLu</name>
    <email>f107154149@nkust.edu.tw</email>
  </author>

  <description>
    TableTennis ball used for tabletennis robot.
  </description>
</model>

