<?xml version="1.0"?>

<launch>
  <arg name="tabletennis_table_name" default="tabletennis_table" />
  <arg name="tabletennis_table_gz_update_rate" default="60" />
  
  
  <!-- Load the ball:-->
  <param name="robot_description" command="$(find xacro)/xacro --inorder '$(find table_description)/urdf/tabletennis_table_bias.xacro'
  tabletennis_table_name:=$(arg tabletennis_table_name)
  tabletennis_table_gz_update_rate:=$(arg tabletennis_table_gz_update_rate)
  "
  />

  <node name="robot_state_publisher" pkg="robot_state_publisher" type="robot_state_publisher"/>
  <node name="rviz" pkg="rviz" type="rviz" args="-d $(find table_description)/config/robot_state_visualize.rviz" required="true" />
</launch>
