<?xml version="1.0"?>
<launch>
	
	<arg name="robot_name" default="TTbot" />
		
  <!-- Load joint controller configurations from YAML file to parameter server -->
  <!--<rosparam file="$(find tabletennisrobot_control)/config/TTbot_control_profile_position.yaml" command="load"/>-->
  <!--<rosparam file="$(find tabletennisrobot_control)/config/TTbot_control_velocity.yaml" command="load"/>-->
  <rosparam file="$(find tabletennisrobot_control)/config/TTbot_control_profile_position.yaml" command="load"/>

  <!-- load the controllers -->
  <node name="controller_spawner" pkg="controller_manager" type="spawner" respawn="false"
	output="screen" ns="$(arg robot_name)" args="joint_state_controller
					  slide_rail_joint_position_controller
                                          arm_joint1_position_controller
                                          arm_joint2_position_controller
                                          arm_joint3_position_controller
                                          arm_joint4_position_controller
                                          arm_joint5_position_controller
					  "/>

  <!-- convert joint states to TF transforms for rviz, etc -->
  <!--<node name="robot_state_publisher" pkg="robot_state_publisher" type="robot_state_publisher"-->
  <!--	respawn="false" output="screen">-->
  <!--  <remap from="/joint_states" to="/rrbot/joint_states" />-->
  <!--</node>-->

</launch>
