  <?xml version="1.0"?>
  <model>
    <name>linear_slide_rail</name>
    <version>1.0</version>
    <sdf>urdf/linear_slide_rail.urdf</sdf>
    <author>
      <name>DennisLu</name>
      <email>dennis2110@hotmail.com.tw</email>
    </author>
    <description>
      A linear slide rail 
    </description>
  </model>
