<?xml version="1.0"?>
<launch>
	
	<!-- these are the arguments you can pass this launch file, for example paused:=true -->
	<arg name="debug" default="false"/>
	<arg name="gui" default="true"/>
  	<arg name="paused" default="false"/>
	<arg name="use_sim_time" default="true"/>
    <arg name="headless" default="false"/>
    
    <!-- We resume the logic in empty_world.launch -->
    <include file="$(find gazebo_ros)/launch/empty_world.launch">
    	<arg name="debug" value="$(arg debug)" />
    	<arg name="gui" value="$(arg gui)" />
    	<arg name="paused" value="$(arg paused)"/>
    	<arg name="use_sim_time" value="$(arg use_sim_time)"/>
    	<arg name="headless" value="$(arg headless)"/>
  	</include>

	


	<!-- Ball: -->
    <arg name="pingpong_ball_name" default="ball" />
    <arg name="ball_x_pos" default="0.0" /> <!-- 1.4 (for zero state) -->
    <arg name="ball_y_pos" default="0.0" /> <!-- world y= x(frame) (for zero state!) -->
    <arg name="ball_z_pos" default="1.66" />   <!-- 0.67 (for zero state), 1.76 (top) -->
	<!--    load ball after 25 secs -->
	<node pkg="kuka_kr5_gazebo" type="timed_roslaunch.sh"
        args="5 pingpong_description load_pingpong_ball.launch
        pingpong_ball_name:=$(arg pingpong_ball_name)
        ball_x_pos:=$(arg ball_x_pos)
        ball_y_pos:=$(arg ball_y_pos)
        ball_z_pos:=$(arg ball_z_pos)"
        name="load_ball_after25" output="screen">
	</node>


</launch>
