<?xml version="1.0"?>
<model>
  <name>TableTennis Table</name>
  <version>1.0</version>
  <sdf version='1.5'>models/tabletennis_table.sdf</sdf>

  <author>
    <name>DennisLu</name>
    <email>f107154149@nkust.edu.tw</email>
  </author>

  <description>
    TableTennis table used for tabletennis robot.
  </description>
</model>

