<?xml version="1.0"?>
<robot xmlns:xacro="http://ros.org/wiki/xacro">
   <xacro:macro name="box_gazebo">
      <gazebo reference="box_link">
         <gravity>1</gravity>
         <dampingFactor>0.0</dampingFactor>
         <maxVel>1</maxVel>
         <minDepth>0.0</minDepth>
         <mu1>0.5</mu1>
         <mu2>0.5</mu2>
         <fdir1>0 0 0</fdir1>
         <kp>1e+10</kp>
         <kd>1.0</kd>
         <selfCollide>0</selfCollide>
         <maxContacts>3</maxContacts>  <!-- set this to 1 and ball stops sliding with high angle -->
         <material>Gazebo/Green</material> <!-- caution this overrwrites (dae) everything!!! -->
      </gazebo>
   </xacro:macro>

</robot>
